@charset "UTF-8";
body {
  --latime-buton: 170px;
  --inaltime-buton: 30px;
  --latime-li: 150px;
  --culoare-fundal: #C9D7CA; /* Verde-gri deschis*/
  --culoare-fundal-secundar: #E4EFE5; /* Verde-gri foarte deschis pentru secțiuni */
  --culoare-text: #1a3a3a; /* Verde foarte inchis*/
  --culoare-primara: #81DBC4; /* Turcoaz/Menta*/
  --culoare-secundara: #C5DB81; /* Verde-galbui*/
  --culoare-accent: #81DB87; /* Verde aprins */
  --culoare-accent-secundar: #A0DB81;
  --culoare-negru-nav: black;
  --culoare-tab-orar: #0b5944;
  --culoare-inima: #e63946;
  --culoare-contur: #333;
  --culoare-border-hover: #ffffff; /* Culoare deschisă pentru border dreptunghi */
  --culoare-shadow-hover: #E4EFE1; /*verde neon pt dreptunghiul de hover*/
}

#hamburger, #ch-menu {
  display: none;
}

nav {
  background-color: var(--culoare-fundal);
}
nav ul.meniu {
  display: flex;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul.meniu > li {
  position: relative;
  font-weight: bold;
  width: var(--latime-buton);
  height: var(--inaltime-buton);
  background-color: var(--culoare-fundal);
  border: 1px solid var(--culoare-contur);
  color: var(--culoare-negru-nav);
  text-align: center;
  line-height: var(--inaltime-buton);
  transition: all 1s linear;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
nav ul.meniu > li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 2px solid var(--culoare-border-hover);
  box-shadow: inset 0 0 20px var(--culoare-shadow-hover);
  border-radius: 5px;
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 1s ease-in-out;
  z-index: 1;
  pointer-events: none;
}
nav ul.meniu > li:hover::after {
  transform: scaleY(1);
}
nav ul.meniu > li .text-icon, nav ul.meniu > li .imag-icon, nav ul.meniu > li a {
  position: relative;
  z-index: 2;
}
nav ul.meniu > li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}
nav ul.meniu > li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--culoare-shadow-hover);
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  transform: scale(0);
  transform-origin: top left;
  opacity: 0;
  visibility: hidden;
  transition: transform 1s ease, opacity 1s ease;
}
nav ul.meniu > li ul li {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  padding: 8px 0 px;
  text-align: center;
}
nav ul.meniu > li ul li a {
  display: inline-block;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: transparent;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  transition: text-decoration-color 0.3s ease;
}
nav ul.meniu > li ul li:hover a {
  text-decoration-color: var(--culoare-negru-nav);
}
nav ul.meniu > li:hover > ul {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=nav.css.map */
