<!DOCTYPE html>
<html lang="ro">

<head>
  <meta name="description"
    content="Farmacia FMI este farmacia cu cel mai mare stoc de medicamente, suplimente alimentare, produse pentru sanatate si ingrijire personala. Oferim o gama larga de produse, inclusiv paracetamol, ibuprofen, vitamine si multe altele. Viziteaza-ne pentru a gasi tot ce ai nevoie pentru sanatatea ta!"><meta charset="UTF-8">
  <title>Farmacia FMI</title>
  <meta name="keywords"
    content="farmacie, farmacia FMI, medicamente, suplimente alimentare, paracetamol, ibuprofen, vitamine, produse pentru sanatate">
    <%- include('../fragmente/head.ejs') %>
</head>

<body>
    <%- include('../fragmente/header.ejs') %>
    <main>
         <h2>Pagina 2</h2>
         <p>Farmacia FMI este o farmacie cu cel mai mare stoc de medicamente, suplimente alimentare, produse pentru sanatate si ingrijire personala.</p>
    </main>
  <footer>
    
    <a href="#welcome" id="link-top" title = "Du-te sus">
        <div id="triunghi">&#5123;</div>
    </a>
  </footer>
</body>
    <%- include('../fragmente/footer.ejs') %>


</html>