<!DOCTYPE html>
<html lang="ro">

<head>
  <meta name="description"
    content="Oops! Pagina nu a fost găsită."><meta charset="UTF-8">
  <title>500 - Eroare internă a serverului</title>
  <meta name="keywords"
    content="eroare 500, eroare internă, farmacia FMI">

    
    <%- include('../fragmente/head.ejs') %>
</head>

<body>
    <%- include('../fragmente/header.ejs') %>
    <main>
         <h2>500 - Eroare internă a serverului</h2>
         <p>Ne pare rău, dar a apărut o eroare internă pe server. Vă rugăm să reveniți mai târziu sau să contactați administratorul site-ului.</p>
    </main>
  
</body>
<%- include('../fragmente/footer.ejs') %>