@media (min-width: 701px) {
    .text-icon {
        display: none;
    }
}

body {
  --latime-buton: 150px;
  --inaltime-buton: 30px;
  --latime-li: 150px;
}

nav ul.meniu ul {
    width: max-content; 
    min-width: 100%;
}

nav ul.meniu ul li {
    font-size: 1em; /
}

nav ul.meniu ul li a {
    white-space: nowrap;
}