<footer>
    <section id = "locatie">
        <address>
        Scrieti-mi aici <a href="mailto:contact@farmaciafmi.com"><i class="fa-solid fa-envelope"></i>David Soisun</a><br>
        Telefon: <a href="tel:+40712345678" target="_blank"><i class="fa-solid fa-phone"></i>+40 712 345 678</a><br>
        Whatsapp: <a href="https://wa.me/407123" target="_blank"><i class="fa-brands fa-whatsapp"></i>+40 712 345 678 </a><br>
        Vizitati-ne la : <br>
        <iframe src="https://www.google.com/maps?q=44.435556,26.09975&hl=ro&z=19&output=embed" width="400" height="250" allowfullscreen=""></iframe>
        <p><small>ACESTA ESTE UN PROIECT SCOLAR</time></small> </p> 
        </address>
    </section>
    
    <a href="#welcome" id="link-top" title = "Du-te sus">
        <div id="triunghi">&#5123;</div>
    </a>
  </footer>