<nav>
    <label id="hamburger" for="ch-menu">
        <img src="/resurse/imagini/Hamburger_icon_alb.png" alt="menu">    
    </label>
    <input type="checkbox" id="ch-menu"/>
    <ul class="meniu">
        
        <li>
            <div class="text-icon" id="acasa"><a href="index">Acasa</a></div>
            <div class="imag-icon" id="acasa-mediu">
                <a href="index"><span class="fas fa-regular fa-house"></span></a>
            </div>
            <ul>
                <li><a href="index">Bine ati venit</a></li>
                <li><a href="/index#promotii">Promotii</a></li>
                <li><a href="/index#anunturi">Anunturi</a></li>
                <li><a href="/index#produse">Oferta</a></li>
                <li><a href="/index#orar">Orar</a></li>
                <li><a href="/index#index-intrebari">Întrebări</a></li>
                <li><a href="/index#retete">Rețete</a></li>
                <li><a href="/index#locatie">Cauta-ne!</a></li>
            </ul>
        </li>

        <li>
            <div class="text-icon"><a href="#">Inregistrare</a></div>
            <div class="imag-icon"><a href="#"><span class="fas fa-solid fa-book"></span></a></div>
        </li>

        <li>
            <div class="text-icon"><a href="/despre">Despre</a></div>
            <div class="imag-icon"><a href="/despre"><span class="fas fa-solid fa-circle-info"></span></a></div>
            <ul>                        
                <li><a href="/despre">Prezentare</a></li>
                <li><a href="/despre">Istoric</a></li>
                <li><a href="/despre">Motivatie</a></li>
                <li><a href="/despre">Galerie</a></li>
            </ul>
        </li> 
        
        <li>
            <div class="text-icon"><a href="#">Produse</a></div>
            <div class="imag-icon"><a href="#"><span class="fa-solid fa-capsules"></span></a></div>
            <ul>
                <li><a href="#">Medicamente</a></li>
                <li><a href="#">Suplimente</a></li>
                <li><a href="#">Cosmetice</a></li>
            </ul>
        </li> 
        
        <li>
            <div class="text-icon"><a href="#">Contact</a></div>
            <div class="imag-icon"><a href="#"><span class="fa-solid fa-envelope"></span></a></div>
        </li>
    </ul>
</nav>
    <header>
        <h1 class="ballet cinzel" class = "banner">
            Farmacia FMI 
            <i class="fa-solid fa-heart-pulse fa-beat" style="color: var(--culoare-inima); margin-left: 10px;"></i>
        </h1>
        <img src="/resurse/imagini/sigla.png" alt="sigla" class="resize">
    </header>