.galerie-animata-container {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 2rem auto;
  overflow: hidden;
  border: 15px solid transparent;
  border-image: url("/resurse/imagini/border.png") 30 round;
}
.galerie-animata-container:hover figure {
  animation-play-state: paused;
}

.galerie-animata-container figure {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  animation: animatie_galerie 24s infinite linear;
}
.galerie-animata-container figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.galerie-animata-container figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  color: #000;
  text-align: center;
  padding: 8px 5px;
  font-weight: bold;
  font-family: sans-serif;
  box-sizing: border-box;
}

@keyframes animatie_galerie {
  0% {
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  }
  5% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  7.5% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  12.5% {
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  }
  100% {
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  }
}
.galerie-animata-container figure:nth-child(1) {
  animation-delay: 0s;
}

.galerie-animata-container figure:nth-child(2) {
  animation-delay: 3s;
}

.galerie-animata-container figure:nth-child(3) {
  animation-delay: 6s;
}

.galerie-animata-container figure:nth-child(4) {
  animation-delay: 9s;
}

.galerie-animata-container figure:nth-child(5) {
  animation-delay: 12s;
}

.galerie-animata-container figure:nth-child(6) {
  animation-delay: 15s;
}

.galerie-animata-container figure:nth-child(7) {
  animation-delay: 18s;
}

.galerie-animata-container figure:nth-child(8) {
  animation-delay: 21s;
}